* {
    margin: 0;
}
div.container {
    background-color: #093545;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    .container1 {
        box-sizing: border-box;
        height: 300px;
        width: 400px;
        margin: 0 auto;
        background-color: white;
        border-radius: 10px;
        h3 {
            margin-top: 60px;
            margin-left: 40px;
            margin-bottom: 20px;
        }   
        .form1 { 
            margin-left: 40px;
            input {
                margin-top: 20px;
            }
        }
    }
    .container2 {
        margin-top: 40px;
        
    }
}